<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    
  </style>
</head>
<body>
  <div id="app">
    <my-todo-list category="하고 싶은 일"></my-todo-list>
    <my-todo-list category="해야 하는 일"></my-todo-list>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.component('my-todo-list', {
      template: `
      <div class="my-todo-list">
      
      <h2 v-bind:style={color:titleColor}>{{ category }}</h2>
      <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
      <button v-on:click="addTodo">+</button>
      <li v-for="todo in todos" v-bind:key="todo.id">
        <span>{{ todo.content }}</span>
        <button v-on:click="removeTodo(todo.id)">x</button>
      </li>
    </div>
    `,
      props: {
        category: {
          type: String,
          required: true,
        }
      },
      data: function() {
        return {
          todos: [],
          newTodo: '',
          todayDate: Date(),
          titleColor: 'lightpink',
        }
      },
      methods: {
        addTodo: function(){
          if (this.newTodo.length !== 0){
            this.todos.push({
              id: Date.now(),
              content: this.newTodo,
              todayDate: Date(),
              completed: false,
            })
            this.newTodo = ''
          }
        },
        removeTodo: function(todoId) {
          this.todos = this.todos.filter((todo) => {
            return todo.id !== todoId
          })
        },
      },
    })
  </script>

  <script>
    const app = new Vue({
      el: '#app'
    })
  </script>
</body>
</html>